<% title "Loans" %>
<p><%= link_to "Home", home_index_path %></p>
<table>
  <tr>
    <th>Get From</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Details</th>
  </tr>
  <% for loan in @loans %>
    <tr>
      <td><%= loan.get_from %></td>
      <td><%= loan.date %></td>
      <td><%= loan.amount %></td>
      <td><%= loan.details %></td>
      <td><%= link_to "Show", loan %></td>
      <td><%= link_to "Edit", edit_loan_path(loan) %></td>
      <td><%= link_to "Destroy", loan, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>
Total debts is : <%= @total_debts %>
<p><%= link_to "New Loan", new_loan_path %></p>
