<%= form_for @expense do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :details %><br />
    <%= f.text_field :details %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
   <p>
   Select Expense Category<br />
   <%= f.select(:category_id, options_for_select(@user_categories.collect {|p| [ p.name, p.id ] },   "Select Category"), :selected =>f.object.category_id) %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p><%= f.submit %></p>
<% end %>

