<% title "Reports" %>

<p>
Grouped by Date:
</p>
<p>
<table cellpadding="0" cellspacing="0" width="400" border="1">
  <tr>
    <th>S.No</th>
    <th>Date</th>
    <th>Amount</th>
  </tr>
  <% @report_hash.each_with_index do |(key, value), i| %>
    <tr>
      <td><%= (i+1) %></td>
      <td><%= key.strftime('%B %d, %Y') %></td>
      <td align="right"><%= value %></td>
    </tr>
  <% end %>
</table>
</p>
<br/>

The total Expense is : <%= @total_expense %>

<br/>
<p>
Grouped by Category:
</p>
<p>
<table cellpadding="0" cellspacing="0" width="400" border="1">
  <tr>
    <th>S.No</th>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  <% @category_report.each_with_index do |(key, value), i| %>
    <tr>
      <td><%= (i+1) %></td>
      <td><%= Category.find(key).name %></td>
      <td align="right"><%= value %></td>
    </tr>
  <% end %>
</table>
</p>
<br/>

Graphical Display:

<br/>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
	<td>
<div id="group-by-date-bar" style="width:600px;height:400px;"></div>
</td>
<td>
<div id="group-by-category-bar" style="width:600px;height:400px;"></div>
</td>
</tr>
</table>



<script type="text/javascript">
Morris.Bar({
  element: 'group-by-category-bar',
  data: [
 <% @category_report.each_with_index do |(key, value), i| %>
    { y: '<%=  Category.find(key).name %>', a: <%= value %>},
<% end %>

  ],
  xkey: 'y',
  ykeys: ['a'],
  labels: ['Expense'],
barColors: ['#E01B6A']
});

Morris.Bar({
  element: 'group-by-date-bar',
  data: [
 <% @report_hash.each_with_index do |(key, value), i| %>
    { y: '<%= key.strftime('%b %d, %Y') %>', a: <%= value %>},
<% end %>

  ],
  xkey: 'y',
  ykeys: ['a'],
  labels: ['Expense'],
barColors: ['#1BA5E0']
});
</script>
