<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Expensily" %></title>

<%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>


  <%#= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css" %>

  <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" %>
  
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	
		<%= render :partial => "/layouts/header_nav" if user_signed_in? %>

      	<div class="container body-container">	
	
			<%= render :partial => "/layouts/flash_message" %>	
			    	
		<%= yield %>

		</div>
    
		<hr>

		      <footer style="float:right;">
		        <p class="muted credit">&copy; <a href="http://maniempire.com" target="_blank">Maniempire</a>, Copyright 2013, All rights reserved.</p>
		      </footer>

  </body>
</html>
